<h1>{{$ctrl.editableAccount._id ? 'Edit \'' + $ctrl.editableAccount.name + '\' account' :
      'New Account'}}</h1>
<hr>
<div class="panel"
     ng-class="{'panel-success': ($ctrl.editableAccount.summary > 0) ||
                                  !$ctrl.editableAccount.summary,
                 'panel-danger': $ctrl.editableAccount.summary <= 0}">
  <div class="panel-heading">
    <h3 class="panel-title">{{$ctrl.editableAccount.name}}</h3>
  </div>
  <div class="panel-body">

    <form name="accountForm"
          id="accountForm"
          class="form-horizontal"
          novalidate
          ng-submit="$ctrl.save()">

      <div class="form-group"
            ng-class="{'has-error': accountForm.accountName.$invalid &&
                        !accountForm.accountName.$pristine,
                      'has-success': accountForm.accountName.$valid &&
                        !accountForm.accountName.$pristine}">

      <label for="accountName" class="col-sm-1 control-label">Name</label>

      <div class="col-sm-11">
        <input type="text"
                class="form-control"
                name="accountName"
                id="accountName"
                required
                ng-minlength="2"
                ng-maxlength="20"
                placeholder="Name"
                ng-model="$ctrl.editableAccount.name">

        <div ng-messages="accountForm.accountName.$error"
             ng-if="!accountForm.accountName.$pristine">
          <ng-message class="help-block"
                      when="required">
            You did not enter a name
          </ng-message>
          <ng-message class="help-block"
                      when="maxlength">
            Account name is too long
          </ng-message>
          <ng-message class="help-block"
                      when="minlength">
            Account name is too short
          </ng-message>
        </div>

      </div>
        
      </div>

      <div class="form-group">
        <div class="col-sm-offset-1 col-sm-11">
          <div class="checkbox">
            <label>
              <input type="checkbox"
                     name="accountPinned"
                     id="accountPinned"
                     ng-model="$ctrl.editableAccount.pinned"> Pinned
            </label>
          </div>
        </div>
      </div>

      <hr>

      <div class="form-group">
        <div class="col-sm-offset-1 col-sm-11">
          <div class="btn-group">
            <button type="submit"
                    class="btn btn-success"
                    ng-disabled="accountForm.$invalid">
              Save
            </button>
            <button class="btn btn-info"
                    ng-click="$ctrl.cancelEdit()">
              Cancel
            </button>
          </div>
        </div>
      </div>

    </form>

  </div>
</div>
