extends ../layout/page

block content
  .main.col-md-10: .row
    .col-xs-2
    .col-xs-6
      h1= title
      br
      form(action="/dashboard/accounts/editaccount/#{account.id}" method="POST" role="form")
        .form-group
          label(for="name") Kontoname
          input.form-control(type="text" name="name"
            value="#{account.name}" required autofocus)
        .form-group
          .checkbox: label
            if account.pinned
              input.checkbox(type="checkbox" name="pinned" value='true' checked)
              | Anmachen
            else
              input.checkbox(type="checkbox" name="pinned" value='true')
              | Anmachen
        button.btn.btn-primary(type="submit") Ändern
    .col-xs-2