.sidebar-left.col-md-2
  .row.info: .col-md-12
    h1 Деньги
    h2.text-primary= summary
  hr
  .row.pinned-accounts: .col-md-12
    each account in pinnedAccounts
      h3= account.name
      h4.text-primary= account.summary
  hr
  .row: .col-md-12
    ul.sidebar-nav.nav.nav-pills.nav-stacked#sidebarLeftMenu
      li: a(href='/dashboard')
        span.icon.glyphicon.glyphicon-home
        | Панель управления
      li: a(href='/dashboard/accounts')
        span.icon.glyphicon.glyphicon-usd
        | Счета
      li: a(href='/dashboard/transactions')
        span.icon.glyphicon.glyphicon-list-alt
        | Транзакции
      li: a(href='/dashboard/categories')
        span.icon.glyphicon.glyphicon-tags
        | Категории
      li: a(href='/dashboard')
        span.icon.glyphicon.glyphicon-calendar
        | Календарь
      li: a(href='/dashboard')
        span.icon.glyphicon.glyphicon-stats
        | Статистика
  hr
  .row: .col-md-12
    ul.sidebar-nav.nav.nav-pills.nav-stacked
      li: a(href='/dashboard')
        span.icon.glyphicon.glyphicon-cog
        | Настройки
      li: a(href='/logout')
        span.icon.glyphicon.glyphicon-off
        | Выйти