.sidebar-left.col-md-2
  .row.info: .col-md-12
    h1 Geld
    h2.text-primary= summary
  hr
  .row.pinned-accounts: .col-md-12
    each account in pinnedAccounts
      h3= account.name
      h4.text-primary= account.summary
  hr
  .row: .col-md-12
    ul.sidebar-nav.nav.nav-pills.nav-stacked#sidebarLeftMenu
      li: a(href='/dashboard')
        span.icon.glyphicon.glyphicon-home
        | Übersicht
      li: a(href='/dashboard/accounts')
        span.icon.glyphicon.glyphicon-usd
        | Kontos
      li: a(href='/dashboard/transactions')
        span.icon.glyphicon.glyphicon-list-alt
        | Transaktionen
      li: a(href='/dashboard/categories')
        span.icon.glyphicon.glyphicon-tags
        | Kategorien
      li: a(href='/dashboard')
        span.icon.glyphicon.glyphicon-calendar
        | Kalendar
      li: a(href='/dashboard')
        span.icon.glyphicon.glyphicon-stats
        | Statistiken
  hr
  .row: .col-md-12
    ul.sidebar-nav.nav.nav-pills.nav-stacked
      li: a(href='/dashboard')
        span.icon.glyphicon.glyphicon-cog
        | Einstellungen
      li: a(href='/logout')
        span.icon.glyphicon.glyphicon-off
        | Abmelden