h1(ng-if='!$ctrl.category && !$ctrl.account') Transactions
h1(ng-if='$ctrl.category') Transactions by category: '{{$ctrl.category.name}}'
h1(ng-if='$ctrl.account') Transactions by account: '{{$ctrl.account.name}}'
hr
div: button.btn.btn-default(ui-sref='dashboard.transactions.new')
    | Add Transaction
hr
table.table.table-striped.table-hover
  thead
    tr
      th(ng-repeat='th in $ctrl.thead')
        | {{th.title}}
      th
  tbody
    tr(ng-repeat='transaction in $ctrl.transactions |\
                  filter: $ctrl.account._id || $ctrl.category._id',
       single-transaction='',
       transaction='transaction',
       remove='$ctrl.remove(transaction)')
// filter: {account: {_id: $ctrl.id}}