<td>{{transaction.amount}}</td>
<td>{{transaction.date | date:'dd/MM/yyyy'}}</td>
<td>
  <a ui-sref="dashboard.accounts.details({id: transaction.account._id})"
     ng-if="transaction.type !== 'transfer'">
    {{transaction.account.name}}
  </a>
  <a ui-sref="dashboard.accounts.details({id: transaction.sourceAccount._id})"
     ng-if="transaction.type === 'transfer'">
    {{transaction.sourceAccount.name}}
  </a>
  <span ng-if="transaction.type === 'transfer'"><-></span>
  <a ui-sref="dashboard.accounts.details({id: transaction.destinationAccount._id})"
     ng-if="transaction.type === 'transfer'">
    {{transaction.destinationAccount.name}}
  </a>
</td>
<td>
  <a ng-repeat="category in transaction.categories"
     class="label label-info"
     ng-if="transaction.type !== 'transfer'"
     ui-sref="dashboard.categories.details({id: category._id})">
    {{category.name}}
  </a>
</td>
<td>{{transaction.description}}</td>
<td>
  <button type="button"
          class="btn btn-default"
          ui-sref="dashboard.transactions.edit({id: transaction._id})">
    <span class="glyphicon glyphicon-edit"></span>
  </button>
  <button type="button"
          class="btn btn-default"
          ng-click="remove({transaction: transaction})">
    <span class="glyphicon glyphicon-remove"></span>
  </button>
</td>