<h1 ng-if="!$ctrl.category && !$ctrl.account">Transactions</h1>
<h1 ng-if="$ctrl.category">
  Transactions by category: '{{$ctrl.category.name}}'
</h1>
<h1 ng-if="$ctrl.account">
  Transactions by account: '{{$ctrl.account.name}}'
</h1>

<hr>
<div>
  <button class="btn btn-default"
          ui-sref="dashboard.transactions.new">
    Add Transaction
  </button>
</div>
<hr>

<table class="table table-striped table-hover">

  <thead>
    <tr>
      <th ng-repeat="th in $ctrl.thead">
        {{th.title}}
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="transaction in $ctrl.transactions |
                    filter: $ctrl.account._id || $ctrl.category._id"
        single-transaction
        transaction="transaction"
        remove="$ctrl.remove(transaction)">
    </tr>
  </tbody>
  
</table>

<!-- filter: {account: {_id: $ctrl.id}} -->