extends layout/page

include mixins/transactionsTable

block append variables
  - var thead = {amount: 'Сумма', date: 'Число', account: 'Счет', Categories: 'Категории', description: 'Описание'}

block content
  .main.col-md-10: .row
    .col-md-8
      h1= title
      .row: .col-md-12: form(id="new-transaction-form")
        div.form-group.date
          input.form-control(type="date" name="date" value="" required)
        div.form-group.description
          input.form-control(type="text" name="description" value="" placeholder="Описание транзакции, от 1 до 140 символов" required)
      .row: .col-md-12: +transactionsTable(transactions, thead)
    .col-md-2
      h1 Статистика
      p Статистика

block scripts
  script(src='/assets/dashboard.js')