extends layout/page

include mixins/transactionsTable

block append variables
  - var thead = {amount: 'Beitrag', date: 'Date', account: 'Konto', Categories: 'Kategorie', description: 'Beschreibung'}

block content
  .main.col-md-10: .row
    .col-md-8
      h1= title
      .row: .col-md-12: .row
        .col-xs-6.col-md-3
          a.btn.btn-default(href="/dashboard/transactions/addtransaction") Transaktion hinzufügen
        .col-xs-6.col-md-3
          a.btn.btn-default(href="/dashboard/transactions/addtransfer") Geld Überweisung
      hr
      .row: .col-md-12: +transactionsTable(transactions, thead)
    .col-md-2
      h1 Statistik
      p Statistik