doctype html
html(lang="de")
  head
    meta(charset="UTF-8")
    title= title
    link(rel="stylesheet", href="/assets/main.css")
    script(src='/assets/common.js')
  body
    section.container-fluid
      .row
        .col-md-12
          h2 Войти
          form(id="login-form")
            div.form-group
              label(for="email") E-mail
              input.form-control(type="email" name="email" value="admin@google.com" required autofocus)
            div.form-group
              label(for="password") Password
              input.form-control(type="password" name="password" value="admin" required)
            div.form-group
              button.btn.btn-primary(type="submit") Войти

    script(src='/assets/login.js')