include layout/head
  body
    if flash
      p.bg-success=flash.message
    section.container-fluid: .row
      .col-xs-4
      .col-xs-4: h2 Einloggen
        hr
        form(action="/login" method="POST" role="form")
          .form-group
            label(for="email") E-mail
            input.form-control#email(type="email" name="email"
              value="admin@google.com" required autofocus)
          .form-group
            label(for="password") Password
            input.form-control#password(type="password" name="password"
              value="admin" required)
          button.btn.btn-primary(type="submit") Einloggen
      .col-xs-4
        br
        a.btn.btn-primary(href='/register') Anmelden
  if NODE_ENV === 'development'
    block scripts
      script(src='/assets/main.js')