extends layout/page

include mixins/transactionsTable

block append variables
  - var thead = {amount: 'Сумма', date: 'Число', account: 'Счет', Categories: 'Категории', description: 'Описание'}

block content
  .main.col-md-10
    h1=title
    .row: .transactions-list.col-md-12
      hr
      +transactionsTable(transactions, thead)
