include head
  body
    section.dashboard.container-fluid: .row
      include ../partials/sidebarLeft.jade
      block content
    footer.container-fluid
      block footer
    script(src='/assets/main.js')
    block scripts