mixin editButtons(id)
  td.button-cell
    a.btn.btn-default(href="/dashboard/accounts/editaccount/#{id}")
      span.glyphicon.glyphicon-edit
    a.btn.btn-default(href="/dashboard/accounts/deleteaccount/#{id}")
      span.glyphicon.glyphicon-minus-sign