mixin editButtons(id, name, pinned)
  td.button-cell
    button.btn.btn-default#btnEdit(data-id="#{id}" data-name="#{name}" data-pinned="#{pinned}" type="button" data-toggle="modal" data-target=".edit-account")
      span.glyphicon.glyphicon-edit
    button.btn.btn-default#btnRemove(data-id="#{id}")
      span.glyphicon.glyphicon-minus-sign